.input{
    width: 20%;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 5px;
}
.CommentFormButton{
    font-size: .75rem;
    padding: 0.55rem 0.25rem;
}
.commentform{
    margin-left: 230px;
}

