.homepagevideocontainer{
    display: flex;
    flex-flow: row wrap;
    gap: 0px;
    padding-top: 85px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 1px;
}

.parent {
    display: flex;
  }
  
.child {
    margin: auto
}
.videotitle{
    font-size:medium;
    text-align: center;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
